.container {
  margin: 2px;
  padding-left: 3px;
}
body {
  font-size: 40px;
}

input { width: 150px; height: 40px; aligh:center; border: 1px solid #999999; padding: 5px; }

input[type="number"]
{
    font-size:38px;
}

.pad-right {
  padding-right: 3px;
}

.correct {
  color: green;
}

.error {
  color: red;
}

#testingZone {
  display: none;
}

#resultZone {
  display: none;
}
.btn {
  line-height: 1.0;
  background-color: #41caa4;
}
.form-control {
  line-height: 1.2;
}
.btn, .form-control {
    /* reset user agent stylesheet */
/*     background-color: transparent; */
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    appearance: none;

    /* make sure properties affecting height have same value */
    font-size: 1em;
    padding: 0.5em var(--padding-x);
    border-width: 1px;
    border-style: solid;
    margin-left: 15px;
  }
